[submodule "archivematica"]
	path = src/archivematica
	url = https://github.com/artefactual/archivematica
	branch = stable/1.12.x
[submodule "archivematica-storage-service"]
	path = src/archivematica-storage-service
	url = https://github.com/artefactual/archivematica-storage-service
	branch = stable/0.17.x